body{
background-color: rgb(235, 235, 235);
margin: 0;
}
@font-face {
      font-family: persian;
      src: url('/public/fonts/persian2.woff');
}
*{
      font-family: persian;
}
.alert{
      background-color: rgb(249, 185, 185);
      border: 1px solid lightcoral;
      padding: 1em;
      border-radius: 0.2em;
      margin: 1em;
      text-align: center;
}